<div class="box_small_news" > 
    <div class="news_header"> 
        <div class="news_header_text">
            <%= link_to "Cultura", root_path %>
        </div >
        <div class="cleaner"></div>
    </div >
    <h2> <%= link_to "Museo del Prado Madrid, nueva exposicion", root_path %></h2>
    <p> "Un de los musesos más prestigiosos del mundo", es como Bill Gates describió el Museo del Prado. Situado en el centro de Madrid y rodeado de otros dos museos</p>
    <ul>
      <li> <h3> <%= link_to "Bar las tostas", root_path %></h3></li>
      <li> <h3> <%= link_to "Paseo retiro", root_path %></h3></li>
    </ul>

</div>
